[Desktop Entry]
Name=XDvi
Comment=DVI X11 previewer
Comment[pl]=Przeglądarka DVI pod X11
Icon=xdvi.xpm
Exec=xdvi &
Terminal=0
Type=Application
# vi: encoding=utf-8
